@charset "utf-8";
/* CSS Document */


*{
	margin:0%;
	padding:0%;}


body{
	width:100%;
	height:100%;

}

.page{
	position: fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

#header{
	width:100%;
	height:100px;
}

.header-background{
	background-color: #29235c;
}

.header-left{
	display: inline-block;
	float:left;
	height:100%;

}

.header-right{
	display: inline-block;
	float:right;
	height:100%;
}
	
#header-logo{
	display: inline-block;
	float:left;
	background-image:url(logo.svg);
	width:100px;
	height:100%;
	min-height:100%;
	background-size:100px 100px;
	background-position:center;
	background-repeat:no-repeat;
}
		
#grille{
	top:100px;
	left:10%;
	right:10%;
	width:80%;
	height:100%;
	}
	
.article{
	width:20%;
	height:50%;
	margin-top:5%;
	background-color:green;
	float:left;
}

#photo{
	position:fixed;
	width:45%;
	height:auto;
	right:0%;
	background-color:#C83032
	}